div.body {
  display: flex;
  flex-direction: row;
}

div.mid {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

textarea.fullwidth {
  width: 100%;
  height: 100px;
  bottom: 10px;
  color: #24a;
  font-weight: 600;
}
